/* find hexadecimal colors /pallets --- coolers.co -- look into establishing a color gradient as one scrolls down
potential color pallets -- black(ish) background - #000b1f, blue(ish) font - #53a3ff. #56e8ef -- Use one color for titles, one color for descriptions
 */

/* GLOBAL STYLES
---------------------------------------*/

body {
    background: #000000;
    color: #53a3ff;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;

}

/* where the buttons for social/resume are styled */
.aboutmelink {
    border: 2px solid #53a3ff;
    background: #000000;
    text-decoration: none;
    padding: 12px;
    color: #53a3ff;
    display: inline-block;
    text-align: center;
    
}

.aboutmelink:hover {
    background: rgb(20,31,121);
}

.content-center {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

p {
    font-size: 25px;
    line-height: 1.5;
}

h2 {
    font-size: 40px;
}

hr {
    border-color: #53a3ff;
}

h1 {
    font-size: 34px;
}
h2 {
    font-size: 28px;
}

iframe {
    width: auto;
    height: 800px;
}


/* MENU
---------------------------------------*/
.menu-bar-position {
    position: fixed;
    top: 0px;
    right: 50%;
    transform: translate(50%, 0%);
    width:100%
}

.menu-bar-position > a {
    width: 15%;
    border: 2px solid #53a3ff;
    background: #000b1f;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    color: #53a3ff;
    display: inline-block;
}

.menu-bar-position a:hover {
    background: rgb(20,31,121);
}

a {
    color: #53a3ff;
}


/* ABOUT ME
---------------------------------------*/
.title {
    font-size: 60px;
}

#about-me {
    padding-top: 100px;
    margin-top: -100px;
}

/* PROJECTS
---------------------------------------*/
#projects {
    padding-top: 20px;
    margin-top: -30px;
}


/* HOBBIES
---------------------------------------*/
#hobbies {
    padding-bottom: 500px;
    padding-top: 20px;
    margin-top: -30px;
}

.grid-container {
    display: grid;
    background-color: #000;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
    /*
    Figure out how to make the grid reactive
    width: 95%;
    */
    justify-content: center;
    transform: (20%, 0%);
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 116px 141px 188px 37px 50px;
}

.grid-item {
    width: 250px;
}

#pano {
    grid-column-start: 1;
    grid-column-end: 3;
}

#puuikena {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    padding-top: 53px;
}

#beach {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

}

#dog {
    grid-column-start: 1;
    grid-column-end: 2;
}

#frat {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#hike {
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

#homie {
    grid-column-start: 2;
    grid-column-start: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

/* FOR ENGW PORTFOLIO
*/
.horizontal-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.portfolio-content {
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    display:flex;
    flex-direction: column;
}

















