/* find hexadecimal colors /pallets --- coolers.co -- look into establishing a color gradient as one scrolls down
potential color pallets -- black(ish) background - #000b1f, blue(ish) font - #53a3ff. #56e8ef -- Use one color for titles, one color for descriptions
 */

/* GLOBAL STYLES
---------------------------------------*/

body {
    background: #000000;
    color: #53a3ff;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}

.all-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 50px;
}

/* MENU CLASSES
*/

.dropdown-section {
    display: flex;
    flex-direction: row;
}

.dropdown {

}

.dropdown-button {
    width: 100px;
    padding: 8px;
    border-radius: 8px;
    color: #53a3ff;
}

.dropdown-content {
    display: none;
    position: absolute;

}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-row {
    display: flex;
    flex-direction: row;
}

/* MAP CLASSES
*/

.map {
    margin-top: 80px;
}
